@font-face {
  font-family: cursedTimer; /* set name */
  src: url(CursedTimerUlil-Aznm.ttf); /* url of the font */
}


body {
    margin: 0;
    background-color: cadetblue;
}
.score-container{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}
.titles{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
}
.container {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.counter{
    font-family: cursedTimer;
    font-size: 50px;
    background-color: black;
    color: red;
    /* color: orange; */
    padding: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 4px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    text-align: center;
}
.counter-container{
    display: flex;
    justify-content: center;
    align-items: center;
}